    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
}
.navbar{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #FEF2F2;
    margin: auto;
    max-width: 600px;
    background-color: #A78BFA;
}
.container{
    text-align: center;
    height: 15rem;
    border-radius: 1rem;
    max-width: 560px;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border: 1px solid #DDD6FE;
}
.btn{
    color:white;
    margin: 4rem;
    background-color: #A78BFA;
}

footer{
    margin: auto;
    margin-top: 5rem;
    height: 13.6rem;
    max-width: 600px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #A78BFA;
    padding: 0px;
    text-align: center;
}
.footer-header
{
    padding-top: 3rem;
    font-size: x-large;
    color: #DDD6FE;
    text-align: center;
}
.link{
    color:#DDD6FE;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.3rem;
}
.fab{
    font-size: 2.5rem;
}
ul{
    padding-inline-start: 0px;
}
li{
    padding: 0.5rem;
    display: inline;
}

